<section class="content-header" th:fragment="imports" xmlns:th="http://www.w3.org/1999/xhtml">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <section class="content-header" th:replace="../static/css/global.html::global"></section>
        <section class="content-header" th:replace="../static/css/login.html::login"></section>
</section>